# Investigation of citibike ridership with income

# Objective: relate the citibike ridership to income.
### 1. Download two months of citibike data 
### 2. Download income information fron IRS for NYC
### 3. Find the zipcodes of citibike stations by reverse geocoding the coordinates
### 4. Find the number of rides per zipcodes in one of your 2 months of data
### 5. Fit a line to ridership (number of rides over one of the 2 months of citibike data downloaded) vs income (total for the zip) and income per person for that zip
### 6. Improve the fit by removing 2 outliers and quantify the improvement
### 7. Fit a 2nd degree polynomial to the same data
### 8. Compare FORMALLY the line adn the 2nd degree polynomial fit with LR test to assess which is a better fit to your chosen significance level.

## Extra Credit

### 1. Compare the income to the incomePC as endogenous variable. How do the fit compare? If it is better what does this say? If it is worse, wht does this say? Discuss why it may be and if you have an explaination describe how  you would test it. If you have time go ahead and test it too!

### 2. Repeat the analysis with another dataset. Are the results consistent?

## 1. Download two months of citibike data: 201501 and another month of your choice. Begin working with 201501, and if you have time (extra credit) you will repeat the analysis for the other month, to see if your conclusions are robust.

In [21]:
import os
import pandas as pd
import numpy as np
import pylab as pl
import statsmodels.api as sm
import statsmodels.formula.api as smf
from getCitiBikeCSV import getCitiBikeCSV # they have access to this function which I wrote. 
from get_jsonparsed_data import get_jsonparsed_data # i give them this function


# they must move the data to a directory $PUIDATA (pointed to by an envaironmental variable)

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [22]:

getCitiBikeCSV("201501")
cb2016 = pd.read_csv(os.getenv("PUIDATA") + "/" + "201501-citibike-tripdata.csv")

Downloading 201501
file in place, you can continue

In [23]:
getCitiBikeCSV("201506")
cb2015 = pd.read_csv(os.getenv("PUIDATA") + "/" + "201506-citibike-tripdata.csv")

Downloading 201506
file in place, you can continue

In [24]:
cb2016.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1346,1/1/2015 0:01,1/1/2015 0:24,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,18660,Subscriber,1960.0,2
1,363,1/1/2015 0:02,1/1/2015 0:08,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,16085,Subscriber,1963.0,1
2,346,1/1/2015 0:04,1/1/2015 0:10,491,E 24 St & Park Ave S,40.740964,-73.986022,505,6 Ave & W 33 St,40.749013,-73.988484,20845,Subscriber,1974.0,1
3,182,1/1/2015 0:04,1/1/2015 0:07,384,Fulton St & Waverly Ave,40.683178,-73.965964,399,Lafayette Ave & St James Pl,40.688515,-73.964763,19610,Subscriber,1969.0,1
4,969,1/1/2015 0:05,1/1/2015 0:21,474,5 Ave & E 29 St,40.745168,-73.986831,432,E 7 St & Avenue A,40.726218,-73.983799,20197,Subscriber,1977.0,1

## 2. Downloading income data from IRS

### Find income data : you can find it from IRS the file name is  14zp33ny 
### and the IRS site is https://www.irs.gov/pub/irs-soi/?C=N;O=D

Use the Adjusted gross income for every zipcode. Additionally identify the columns indicating the number of returns, the number of dependents, the number of joint returns. Together they indicate the size of the family, allowing you to obtain the income per person from the income of the whole zipcode. 

Convert the zip tp numeric values (with pd.to_numeric)

For every zipcode the adjusted median income is the first valid row associated with that zipcode. 

If you need help look here [...]

Store the income data in a daraframe with (at least) the columns 

**zipcodes,	income, N,	incomePC**

where zipcodes are the zipcodes, income is the AGI, N the number of returns, incomePC the AGI for the zipcode divided by (N + Ndeoendents + Njoint returns)

In [25]:
#i require the data to be moved to PUIDATA, which has to be a directory linked tot he env var PUIDATA
#!curl -O https://www.irs.gov/pub/irs-soi/14zp33ny.xls
#os.system("mv 14zp33ny.xls " + os.getenv("PUIDATA"))
#incomeByZip = pd.read_excel(os.getenv("PUIDATA") + "/14zp33ny.xls", header=3, index_col="""ZIP\ncode [1]""")
incomeByZip = pd.read_excel("https://www.irs.gov/pub/irs-soi/14zp33ny.xls", header=3, index_col="""ZIP\ncode [1]""")
incomeByZip.head

<bound method NDFrame.head of                                                    Size of adjusted gross income  \
ZIP\ncode [1]
NaN                                                                          NaN
NaN                                                                          NaN
0                                                                          Total
0                                                               $1 under $25,000
0                                                          $25,000 under $50,000
0                                                          $50,000 under $75,000
0                                                         $75,000 under $100,000
0                                                        $100,000 under $200,000
0                                                               $200,000 or more
NaN                                                                          NaN
10001                                                                        NaN
10001                                                           $1 under $25,000
10001                                                      $25,000 under $50,000
10001                                                      $50,000 under $75,000
10001                                                     $75,000 under $100,000
10001                                                    $100,000 under $200,000
10001                                                           $200,000 or more
NaN                                                                          NaN
10002                                                                        NaN
10002                                                           $1 under $25,000
10002                                                      $25,000 under $50,000
10002                                                      $50,000 under $75,000
10002                                                     $75,000 under $100,000
10002                                                    $100,000 under $200,000
10002                                                           $200,000 or more
NaN                                                                          NaN
10003                                                                        NaN
10003                                                           $1 under $25,000
10003                                                      $25,000 under $50,000
10003                                                      $50,000 under $75,000
...                                                                          ...
14905                                                           $1 under $25,000
14905                                                      $25,000 under $50,000
14905                                                      $50,000 under $75,000
14905                                                     $75,000 under $100,000
14905                                                    $100,000 under $200,000
14905                                                           $200,000 or more
NaN                                                                          NaN
99999                                                                        NaN
99999                                                           $1 under $25,000
99999                                                      $25,000 under $50,000
99999                                                      $50,000 under $75,000
99999                                                     $75,000 under $100,000
99999                                                    $100,000 under $200,000
99999                                                           $200,000 or more
** - Not shown to avoid disclosure of informati...                           NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                           NaN
[2] The "Number of volunteer prepared returns" ...                           NaN
[3] Does not include returns with adjusted gros...                           NaN
[4] "Qualified dividends" are ordinary dividend...                           NaN
[5] Includes the Alaskan permanent fund, report...                           NaN
[6] "Earned income credit" includes both the re...                           NaN
[7] The refundable portion of the "earned incom...                           NaN
[8]  "Income tax" reflects the amount reported ...                           NaN
[9] "Total tax liability" differs from "Income ...                           NaN
[10] Reflects payments to or withholdings made ...                           NaN
[11]  The amount of overpayments the tax filer ...                           NaN
NOTE: This table presents aggregates of all ret...                           NaN
This table is based on tax returns as initially...                           NaN
Detail may not add to totals because of rounding.                            NaN
SOURCE: IRS, Statistics of Income Division, \nI...                           NaN

                                                    Number of returns  \
ZIP\ncode [1]
NaN                                                               NaN
NaN                                                              -1.0
0                                                           9397410.0
0                                                           3617400.0
0                                                           2070870.0
0                                                           1248170.0
0                                                            805170.0
0                                                           1171760.0
0                                                            484040.0
NaN                                                               NaN
10001                                                         14080.0
10001                                                          3880.0
10001                                                          2530.0
10001                                                          1850.0
10001                                                          1300.0
10001                                                          2350.0
10001                                                          2170.0
NaN                                                               NaN
10002                                                         43370.0
10002                                                         23350.0
10002                                                          8270.0
10002                                                          4500.0
10002                                                          2510.0
10002                                                          3200.0
10002                                                          1540.0
NaN                                                               NaN
10003                                                         29810.0
10003                                                          5380.0
10003                                                          4240.0
10003                                                          4410.0
...                                                               ...
14905                                                          1510.0
14905                                                           900.0
14905                                                           680.0
14905                                                           450.0
14905                                                           640.0
14905                                                           190.0
NaN                                                               NaN
99999                                                         88940.0
99999                                                         32590.0
99999                                                         19350.0
99999                                                         11900.0
99999                                                          7340.0
99999                                                         10390.0
99999                                                          7370.0
** - Not shown to avoid disclosure of informati...                NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                NaN
[2] The "Number of volunteer prepared returns" ...                NaN
[3] Does not include returns with adjusted gros...                NaN
[4] "Qualified dividends" are ordinary dividend...                NaN
[5] Includes the Alaskan permanent fund, report...                NaN
[6] "Earned income credit" includes both the re...                NaN
[7] The refundable portion of the "earned incom...                NaN
[8]  "Income tax" reflects the amount reported ...                NaN
[9] "Total tax liability" differs from "Income ...                NaN
[10] Reflects payments to or withholdings made ...                NaN
[11]  The amount of overpayments the tax filer ...                NaN
NOTE: This table presents aggregates of all ret...                NaN
This table is based on tax returns as initially...                NaN
Detail may not add to totals because of rounding.                 NaN
SOURCE: IRS, Statistics of Income Division, \nI...                NaN

                                                    Number of single returns  \
ZIP\ncode [1]
NaN                                                                      NaN
NaN                                                                     -2.0
0                                                                  4750550.0
0                                                                  2432240.0
0                                                                  1103290.0
0                                                                   590760.0
0                                                                   280040.0
0                                                                   261640.0
0                                                                    82580.0
NaN                                                                      NaN
10001                                                                10200.0
10001                                                                 3010.0
10001                                                                 1890.0
10001                                                                 1470.0
10001                                                                 1000.0
10001                                                                 1680.0
10001                                                                 1150.0
NaN                                                                      NaN
10002                                                                25580.0
10002                                                                13530.0
10002                                                                 4700.0
10002                                                                 3110.0
10002                                                                 1650.0
10002                                                                 1880.0
10002                                                                  710.0
NaN                                                                      NaN
10003                                                                22730.0
10003                                                                 4690.0
10003                                                                 3630.0
10003                                                                 3830.0
...                                                                      ...
14905                                                                 1080.0
14905                                                                  510.0
14905                                                                  320.0
14905                                                                  110.0
14905                                                                   80.0
14905                                                                   20.0
NaN                                                                      NaN
99999                                                                49540.0
99999                                                                23870.0
99999                                                                11350.0
99999                                                                 6160.0
99999                                                                 2930.0
99999                                                                 3310.0
99999                                                                 1920.0
** - Not shown to avoid disclosure of informati...                       NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                       NaN
[2] The "Number of volunteer prepared returns" ...                       NaN
[3] Does not include returns with adjusted gros...                       NaN
[4] "Qualified dividends" are ordinary dividend...                       NaN
[5] Includes the Alaskan permanent fund, report...                       NaN
[6] "Earned income credit" includes both the re...                       NaN
[7] The refundable portion of the "earned incom...                       NaN
[8]  "Income tax" reflects the amount reported ...                       NaN
[9] "Total tax liability" differs from "Income ...                       NaN
[10] Reflects payments to or withholdings made ...                       NaN
[11]  The amount of overpayments the tax filer ...                       NaN
NOTE: This table presents aggregates of all ret...                       NaN
This table is based on tax returns as initially...                       NaN
Detail may not add to totals because of rounding.                        NaN
SOURCE: IRS, Statistics of Income Division, \nI...                       NaN

                                                    Number of joint returns  \
ZIP\ncode [1]
NaN                                                                     NaN
NaN                                                                    -3.0
0                                                                 2942890.0
0                                                                  468500.0
0                                                                  449390.0
0                                                                  417090.0
0                                                                  408350.0
0                                                                  818600.0
0                                                                  380960.0
NaN                                                                     NaN
10001                                                                2410.0
10001                                                                 350.0
10001                                                                 250.0
10001                                                                 190.0
10001                                                                 170.0
10001                                                                 530.0
10001                                                                 920.0
NaN                                                                     NaN
10002                                                               11040.0
10002                                                                6160.0
10002                                                                1860.0
10002                                                                 660.0
10002                                                                 510.0
10002                                                                1090.0
10002                                                                 760.0
NaN                                                                     NaN
10003                                                                5460.0
10003                                                                 340.0
10003                                                                 330.0
10003                                                                 330.0
...                                                                     ...
14905                                                                 170.0
14905                                                                 230.0
14905                                                                 280.0
14905                                                                 300.0
14905                                                                 540.0
14905                                                                 160.0
NaN                                                                     NaN
99999                                                               28130.0
99999                                                                4650.0
99999                                                                4180.0
99999                                                                3970.0
99999                                                                3680.0
99999                                                                6450.0
99999                                                                5200.0
** - Not shown to avoid disclosure of informati...                      NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                      NaN
[2] The "Number of volunteer prepared returns" ...                      NaN
[3] Does not include returns with adjusted gros...                      NaN
[4] "Qualified dividends" are ordinary dividend...                      NaN
[5] Includes the Alaskan permanent fund, report...                      NaN
[6] "Earned income credit" includes both the re...                      NaN
[7] The refundable portion of the "earned incom...                      NaN
[8]  "Income tax" reflects the amount reported ...                      NaN
[9] "Total tax liability" differs from "Income ...                      NaN
[10] Reflects payments to or withholdings made ...                      NaN
[11]  The amount of overpayments the tax filer ...                      NaN
NOTE: This table presents aggregates of all ret...                      NaN
This table is based on tax returns as initially...                      NaN
Detail may not add to totals because of rounding.                       NaN
SOURCE: IRS, Statistics of Income Division, \nI...                      NaN

                                                    Number of head of household returns  \
ZIP\ncode [1]
NaN                                                                                 NaN
NaN                                                                                -4.0
0                                                                             1515950.0
0                                                                              665410.0
0                                                                              467540.0
0                                                                              203970.0
0                                                                               94660.0
0                                                                               70860.0
0                                                                               13510.0
NaN                                                                                 NaN

In [13]:
#extract the right entry with iloc[0]: e.g.
print (incomeByZip.loc[[10001]]["Adjusted gross income (AGI) [3]"].iloc[0])

2363960.0

In [14]:
zipcs = pd.to_numeric(incomeByZip.index, errors='coerce')
zipcs = zipcs[~np.isnan(zipcs)].astype(int)

Create a new dataframe with the value of income per zipcode, and income per person per zipcode 
(income per person = income / (Nreturns + Njoint returns + Ndependents)

In [15]:
zipincome = pd.DataFrame()
zipincome['zipcodes'] = list(set(zipcs))
zipincome['income'] = [incomeByZip.loc[[z]]["Adjusted gross income (AGI) [3]"].iloc[0] for z in set(zipcs)]
zipincome['N'] = [incomeByZip.loc[[z]]["Number of returns"].iloc[0] for z in set(zipcs)]
zipincome['Njoint'] = [incomeByZip.loc[[z]]["Number of joint returns"].iloc[0] for z in set(zipcs)]
zipincome['Ndeps'] = [incomeByZip.loc[[z]]["Number of dependents"].iloc[0] for z in set(zipcs)]

In [16]:
#income per person in zipcode
zipincome['incomePC'] = zipincome['income'] / (zipincome.N + zipincome.Ndeps + zipincome.Njoint)

In [17]:
zipincome.head()

   zipcodes       income          N     Njoint      Ndeps    incomePC
0         0  766646080.0  9397410.0  2942890.0  5539120.0   42.878688
1     99999   14338084.0    88940.0    28130.0    43810.0   89.122849
2     10001    2363960.0    14080.0     2410.0     3250.0  119.754813
3     10002    2215542.0    43370.0    11040.0    19160.0   30.114748
4     10003    6910992.0    29810.0     5460.0     4790.0  172.516026

## 3. Find the zipcodes of citibike stations by reverse geocoding the coordinates
You can use the google API including the long and latitide of each station: CAREFULL!!: you do not need a separate API query per ride, just one per each citibike station! You have a limit of 2500 requests/day, so you cannot submit a request per ride. (You can use pd.DataFrame.drop_duplicates, for example, to identify identical coordinate pairs or identical station ids)

https://developers.google.com/maps/documentation/geocoding/intro

If you do not have an API key for googlemaps you can get one instantly here
https://developers.google.com/maps/documentation/geocoding/get-api-key


Once you have the zip for a lat/lon pair (lat, lon) you can use a condition like 
```
(cb['start station latitude'] == lat) * (cb['start station longitude'] == lon)
```
as index to identify the rows of the citibike datframe that contain those coordinates and are associated to that zipcode
```
cb['zipcodes']['start station latitude'] == lat) * (cb['start station longitude'] == lon)] = thatzipcode
```

If you are not up for that you can download the zipcode of each citibike station here 
http://cosmo.nyu.edu/~fb55/UI_CUSP_2015/data/stationzips.json
However, this will cost you 0.5/10 points.

In [26]:
cb2015['zipcodes'] = np.zeros(len(cb2015))
for latlon in cb2015[['start station latitude', 
                'start station longitude']].drop_duplicates().values:
    url = ("https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
           "%f,%f&key=%s"%(
            latlon[0], latlon[1], "AIzaSyDrAcqEmijgvK12TTsx_CLTCCQtFhC24Xg"))
    #print (get_jsonparsed_data(url))
    revgeo = get_jsonparsed_data(url)["results"][0]['address_components'][-1]
    cb2015['zipcodes'][(cb2015['start station latitude'] == latlon[0]) * 
           (cb2015['start station longitude'] == latlon[1])] = revgeo['long_name']
cb2015.head()

/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/pandas/computation/expressions.py:181: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  unsupported[op_str]))
/opt/rh/anaconda/root/envs/PUI2016_Python3/lib/python3.5/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,zipcodes
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1,2926
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1,10003
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1,10011
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1,5416
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0,4510

In [ ]:
#grouping and counting
cbgroup = cb2015.groupby('zipcodes', as_index=False).count()
cbgroup.head()

In [ ]:
cbgroup.columns

In [ ]:
# dropping unneded data
cbgroup.drop([ 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'], axis=1, inplace=True)

In [ ]:
# renaming columns. Notice I use a column that should have no NaNs
cbgroup.rename(columns = {'tripduration':'Nrides'}, inplace=True)

In [ ]:
cbgroup.head()

# MERGE
notice there may be lots of invalid zipcodes from bad reverse geocoding!! Drop all data w zipcodes > 1000

In [ ]:
#NOTE: the zipcodes have to be numbers in both DFs
cbgroup['zipcodes'] = cbgroup['zipcodes'].astype(float)

In [ ]:
cbincome = pd.merge(zipincome, cbgroup, how="inner", on="zipcodes")

In [ ]:
cbincome.head()

# 5. Plot and fit the data

In [ ]:
cbincome.plot(kind="scatter", x='income', y='Nrides', figsize=(10,10))

In [ ]:
linmodel_income = smf.ols(formula = "Nrides ~ income", data=cbincome).fit()
ax = cbincome.plot(kind="scatter", x='income', y='Nrides', figsize=(10,10))
ax.plot(cbincome.income, linmodel_income.predict(), '-')
linmodel_income.summary()

# 6. choosing two high leverage points, Can be done by eye or with an influence plot

In [ ]:
tmp = sm.graphics.influence_plot(linmodel_income)

In [ ]:
linmodel2_income = smf.ols(formula = "Nrides ~ income", data=cbincome.drop([17,18])).fit()
ax = cbincome.drop([17,18]).plot(kind="scatter", x='income', y='Nrides', figsize=(10,10))
ax.plot(cbincome.drop([17,18]).income, linmodel2_income.predict(), '-')
linmodel2_income.summary()

# the fit improved significantly going fron an explained variance of 7% to 40%

# 7. Fit a 2nd degree polynomial and assess if the addition of the extra parameter is justified by the data

In [ ]:
curvmodel2_income = smf.ols(formula = "Nrides ~ income + I((income)**2)", data=cbincome.drop([17,18])).fit()
ax = cbincome.drop([17,18]).plot(kind="scatter", x='income', y='Nrides', figsize=(10,10))
x = np.linspace(cbincome.drop([17,18]).income.min(), cbincome.drop([17,18]).income.max(), 1000)
ax.plot(x, curvmodel2_income.predict(exog = dict(income=x)), '-')
curvmodel2_income.summary()

# the adjusted R^2 did not improved 
# yet, to test if the more complex model is justifies we use the likelihood ratio test, with significance alpha=0.05

In [ ]:
alpha = 0.05
LR = curvmodel2_income.compare_lr_test(linmodel2_income)

print ("We ", end="")
if LR[0] < 3.84: #0.05 level for 1 DOF chi sq distribution 
    print ("CANNOT") 
    
print ("reject the Null hypothesis that the restricted (linear) " + 
       "model is better than the 2nd degree polynomial fit with p-value ", end="")
print ("p < %.3f"%alpha)

# Test the Income per person

In [ ]:
ax = cbincome.plot(kind="scatter", x='incomePC', y='Nrides', figsize=(10,10))
linmodel_incomePC = smf.ols(formula = "Nrides ~ incomePC", data=cbincome).fit()
ax.plot(cbincome.incomePC, linmodel_incomePC.predict(), '-')
linmodel_incomePC.summary()

# the fit is worse. This suggests that the number of rides may be correlated to the number of people in the zipcode. 
# this can be tested by lookiung the number of stations per zipcode.

In [ ]:
stid2zip = get_jsonparsed_data("http://cosmo.nyu.edu/~fb55/UI_CUSP_2015/data/stationzips.json")
stid2zip

In [ ]:
cb2016['zipcodes'] = cb2016['start station id'].astype(str).map(stid2zip)

In [ ]:
cbgroup16 = cb2016.groupby('zipcodes', as_index=False).count()
cbgroup16.head()
cbgroup16['zipcodes'] = cbgroup16['zipcodes'].astype(float)
cbgroup16.rename(columns = {'tripduration':'Nrides'}, inplace=True)
cbincome16 = pd.merge(zipincome, cbgroup16, how="inner", on="zipcodes")

In [ ]:
linmodel16_income = smf.ols(formula = "Nrides ~ income", data=cbincome16).fit()
ax = cbincome16.plot(kind="scatter", x='income', y='Nrides', figsize=(10,10))
ax.plot(cbincome16.income, linmodel16_income.predict(), '-')
linmodel16_income.summary()

#doing this w the json file instead

cb2016['zipcodes'] = np.zeros(len(cb2016))
for latlon in cb2016[['start station latitude', 
                'start station longitude']].drop_duplicates().values:
    url = ("https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
           "%f,%f&key=%s"%(
            latlon[0], latlon[1], os.getenv('GOOGLEAPI')))
    revgeo = get_jsonparsed_data(url)["results"][0]['address_components'][-1]
    cb2016['zipcodes'][(cb2016['start station latitude'] == latlon[0]) * 
           (cb2016['start station longitude'] == latlon[1])] = revgeo['long_name']
cb2016.head()

In [ ]:
cb2016.head()