# Investigation of citibike ridership with income

# Objective: relate the citibike ridership to income.
### 1. Download two months of citibike data 201501 and 201601
### 2. Download income information fron IRS for NYC
### 3. Find the zipcodes of citibike stations by reverse geocoding the coordinates
### 4. Find the number of rides per zipcodes in one of your 2 months of data
### 5. Fit a line to ridership (number of rides over one of the 2 months of citibike data downloaded) vs income (total for the zip) and income per person for that zip
### 6. Improve the fit by removing 2 outliers and quantify the improvement
### 7. Fit a 2nd degree polynomial to the same data
### 8. Compare FORMALLY the line adn the 2nd degree polynomial fit with LR test to assess which is a better fit to your chosen significance level.

## Extra Credit

### 1. Compare the income to the incomePC as endogenous variable. How do the fit compare? If it is better what does this say? If it is worse, wht does this say? Discuss why it may be and if you have an explaination describe how  you would test it. If you have time go ahead and test it too!

### 2. Repeat the analysis with another dataset. Are the results consistent?

## 1. Download two months of citibike data: 201501 and another month of your choice. Begin working with 201501, and if you have time (extra credit) you will repeat the analysis for the other month, to see if your conclusions are robust.

In [4]:
cb2016.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,923,1/1/2016 00:00:41,1/1/2016 00:16:04,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22285,Subscriber,1958,1
1,379,1/1/2016 00:00:45,1/1/2016 00:07:04,476,E 31 St & 3 Ave,40.743943,-73.979661,498,Broadway & W 32 St,40.748549,-73.988084,17827,Subscriber,1969,1
2,589,1/1/2016 00:00:48,1/1/2016 00:10:37,489,10 Ave & W 28 St,40.750664,-74.001768,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,21997,Subscriber,1982,2
3,889,1/1/2016 00:01:06,1/1/2016 00:15:56,268,Howard St & Centre St,40.719105,-73.999733,3002,South End Ave & Liberty St,40.711512,-74.015756,22794,Subscriber,1961,2
4,1480,1/1/2016 00:01:12,1/1/2016 00:25:52,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,14562,Subscriber,1952,1

## 2. Downloading income data from IRS

### Find income data : you can find it from IRS the file name is  14zp33ny 
### and the IRS site is https://www.irs.gov/pub/irs-soi/?C=N;O=D

Use the Adjusted gross income for every zipcode. Additionally identify the columns indicating the number of returns, the number of dependents, the number of joint returns. Together they indicate the size of the family, allowing you to obtain the income per person from the income of the whole zipcode. 

Convert the zip tp numeric values (with pd.to_numeric)

For every zipcode the adjusted median income is the first valid row associated with that zipcode. 

If you need help look here [...]

Store the income data in a daraframe with (at least) the columns 

**zipcodes,	income, N,	incomePC**

where zipcodes are the zipcodes, income is the AGI, N the number of returns, incomePC the AGI for the zipcode divided by (N + Ndeoendents + Njoint returns)

In [5]:
incomeByZip.head

<bound method NDFrame.head of                                                    Size of adjusted gross income  \
ZIP\ncode [1]
NaN                                                                          NaN
NaN                                                                          NaN
0                                                                          Total
0                                                               $1 under $25,000
0                                                          $25,000 under $50,000
0                                                          $50,000 under $75,000
0                                                         $75,000 under $100,000
0                                                        $100,000 under $200,000
0                                                               $200,000 or more
NaN                                                                          NaN
10001                                                                        NaN
10001                                                           $1 under $25,000
10001                                                      $25,000 under $50,000
10001                                                      $50,000 under $75,000
10001                                                     $75,000 under $100,000
10001                                                    $100,000 under $200,000
10001                                                           $200,000 or more
NaN                                                                          NaN
10002                                                                        NaN
10002                                                           $1 under $25,000
10002                                                      $25,000 under $50,000
10002                                                      $50,000 under $75,000
10002                                                     $75,000 under $100,000
10002                                                    $100,000 under $200,000
10002                                                           $200,000 or more
NaN                                                                          NaN
10003                                                                        NaN
10003                                                           $1 under $25,000
10003                                                      $25,000 under $50,000
10003                                                      $50,000 under $75,000
...                                                                          ...
14905                                                           $1 under $25,000
14905                                                      $25,000 under $50,000
14905                                                      $50,000 under $75,000
14905                                                     $75,000 under $100,000
14905                                                    $100,000 under $200,000
14905                                                           $200,000 or more
NaN                                                                          NaN
99999                                                                        NaN
99999                                                           $1 under $25,000
99999                                                      $25,000 under $50,000
99999                                                      $50,000 under $75,000
99999                                                     $75,000 under $100,000
99999                                                    $100,000 under $200,000
99999                                                           $200,000 or more
** - Not shown to avoid disclosure of informati...                           NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                           NaN
[2] The "Number of volunteer prepared returns" ...                           NaN
[3] Does not include returns with adjusted gros...                           NaN
[4] "Qualified dividends" are ordinary dividend...                           NaN
[5] Includes the Alaskan permanent fund, report...                           NaN
[6] "Earned income credit" includes both the re...                           NaN
[7] The refundable portion of the "earned incom...                           NaN
[8]  "Income tax" reflects the amount reported ...                           NaN
[9] "Total tax liability" differs from "Income ...                           NaN
[10] Reflects payments to or withholdings made ...                           NaN
[11]  The amount of overpayments the tax filer ...                           NaN
NOTE: This table presents aggregates of all ret...                           NaN
This table is based on tax returns as initially...                           NaN
Detail may not add to totals because of rounding.                            NaN
SOURCE: IRS, Statistics of Income Division, \nI...                           NaN

                                                    Number of returns  \
ZIP\ncode [1]
NaN                                                               NaN
NaN                                                                -1
0                                                             9397410
0                                                             3617400
0                                                             2070870
0                                                             1248170
0                                                              805170
0                                                             1171760
0                                                              484040
NaN                                                               NaN
10001                                                           14080
10001                                                            3880
10001                                                            2530
10001                                                            1850
10001                                                            1300
10001                                                            2350
10001                                                            2170
NaN                                                               NaN
10002                                                           43370
10002                                                           23350
10002                                                            8270
10002                                                            4500
10002                                                            2510
10002                                                            3200
10002                                                            1540
NaN                                                               NaN
10003                                                           29810
10003                                                            5380
10003                                                            4240
10003                                                            4410
...                                                               ...
14905                                                            1510
14905                                                             900
14905                                                             680
14905                                                             450
14905                                                             640
14905                                                             190
NaN                                                               NaN
99999                                                           88940
99999                                                           32590
99999                                                           19350
99999                                                           11900
99999                                                            7340
99999                                                           10390
99999                                                            7370
** - Not shown to avoid disclosure of informati...                NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                NaN
[2] The "Number of volunteer prepared returns" ...                NaN
[3] Does not include returns with adjusted gros...                NaN
[4] "Qualified dividends" are ordinary dividend...                NaN
[5] Includes the Alaskan permanent fund, report...                NaN
[6] "Earned income credit" includes both the re...                NaN
[7] The refundable portion of the "earned incom...                NaN
[8]  "Income tax" reflects the amount reported ...                NaN
[9] "Total tax liability" differs from "Income ...                NaN
[10] Reflects payments to or withholdings made ...                NaN
[11]  The amount of overpayments the tax filer ...                NaN
NOTE: This table presents aggregates of all ret...                NaN
This table is based on tax returns as initially...                NaN
Detail may not add to totals because of rounding.                 NaN
SOURCE: IRS, Statistics of Income Division, \nI...                NaN

                                                    Number of single returns  \
ZIP\ncode [1]
NaN                                                                      NaN
NaN                                                                       -2
0                                                                    4750550
0                                                                    2432240
0                                                                    1103290
0                                                                     590760
0                                                                     280040
0                                                                     261640
0                                                                      82580
NaN                                                                      NaN
10001                                                                  10200
10001                                                                   3010
10001                                                                   1890
10001                                                                   1470
10001                                                                   1000
10001                                                                   1680
10001                                                                   1150
NaN                                                                      NaN
10002                                                                  25580
10002                                                                  13530
10002                                                                   4700
10002                                                                   3110
10002                                                                   1650
10002                                                                   1880
10002                                                                    710
NaN                                                                      NaN
10003                                                                  22730
10003                                                                   4690
10003                                                                   3630
10003                                                                   3830
...                                                                      ...
14905                                                                   1080
14905                                                                    510
14905                                                                    320
14905                                                                    110
14905                                                                     80
14905                                                                     20
NaN                                                                      NaN
99999                                                                  49540
99999                                                                  23870
99999                                                                  11350
99999                                                                   6160
99999                                                                   2930
99999                                                                   3310
99999                                                                   1920
** - Not shown to avoid disclosure of informati...                       NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                       NaN
[2] The "Number of volunteer prepared returns" ...                       NaN
[3] Does not include returns with adjusted gros...                       NaN
[4] "Qualified dividends" are ordinary dividend...                       NaN
[5] Includes the Alaskan permanent fund, report...                       NaN
[6] "Earned income credit" includes both the re...                       NaN
[7] The refundable portion of the "earned incom...                       NaN
[8]  "Income tax" reflects the amount reported ...                       NaN
[9] "Total tax liability" differs from "Income ...                       NaN
[10] Reflects payments to or withholdings made ...                       NaN
[11]  The amount of overpayments the tax filer ...                       NaN
NOTE: This table presents aggregates of all ret...                       NaN
This table is based on tax returns as initially...                       NaN
Detail may not add to totals because of rounding.                        NaN
SOURCE: IRS, Statistics of Income Division, \nI...                       NaN

                                                    Number of joint returns  \
ZIP\ncode [1]
NaN                                                                     NaN
NaN                                                                      -3
0                                                                   2942890
0                                                                    468500
0                                                                    449390
0                                                                    417090
0                                                                    408350
0                                                                    818600
0                                                                    380960
NaN                                                                     NaN
10001                                                                  2410
10001                                                                   350
10001                                                                   250
10001                                                                   190
10001                                                                   170
10001                                                                   530
10001                                                                   920
NaN                                                                     NaN
10002                                                                 11040
10002                                                                  6160
10002                                                                  1860
10002                                                                   660
10002                                                                   510
10002                                                                  1090
10002                                                                   760
NaN                                                                     NaN
10003                                                                  5460
10003                                                                   340
10003                                                                   330
10003                                                                   330
...                                                                     ...
14905                                                                   170
14905                                                                   230
14905                                                                   280
14905                                                                   300
14905                                                                   540
14905                                                                   160
NaN                                                                     NaN
99999                                                                 28130
99999                                                                  4650
99999                                                                  4180
99999                                                                  3970
99999                                                                  3680
99999                                                                  6450
99999                                                                  5200
** - Not shown to avoid disclosure of informati...                      NaN
[1] The ZIP Code is based on the 5-digit ZIP co...                      NaN
[2] The "Number of volunteer prepared returns" ...                      NaN
[3] Does not include returns with adjusted gros...                      NaN
[4] "Qualified dividends" are ordinary dividend...                      NaN
[5] Includes the Alaskan permanent fund, report...                      NaN
[6] "Earned income credit" includes both the re...                      NaN
[7] The refundable portion of the "earned incom...                      NaN
[8]  "Income tax" reflects the amount reported ...                      NaN
[9] "Total tax liability" differs from "Income ...                      NaN
[10] Reflects payments to or withholdings made ...                      NaN
[11]  The amount of overpayments the tax filer ...                      NaN
NOTE: This table presents aggregates of all ret...                      NaN
This table is based on tax returns as initially...                      NaN
Detail may not add to totals because of rounding.                       NaN
SOURCE: IRS, Statistics of Income Division, \nI...                      NaN

                                                    Number of head of household returns  \
ZIP\ncode [1]
NaN                                                                                 NaN
NaN                                                                                  -4
0                                                                               1515950
0                                                                                665410
0                                                                                467540
0                                                                                203970
0                                                                                 94660
0                                                                                 70860
0                                                                                 13510
NaN                                                                                 NaN

In [6]:
#extract the right entry with iloc[0]: e.g.
print (incomeByZip.loc[[10001]]["Adjusted gross income (AGI) [3]"].iloc[0])

2363960.0

Create a new dataframe with the value of income per zipcode, and income per person per zipcode 
(income per person = income / (Nreturns + Njoint returns + Ndependents)

In [8]:
zipincome = pd.DataFrame()
zipincome['zipcodes'] = ...

In [10]:
zipincome.head()

   zipcodes     income        N   Njoint    Ndeps    incomePC
0         0  766646080  9397410  2942890  5539120   42.878688
1     99999   14338084    88940    28130    43810   89.122849
2     10001    2363960    14080     2410     3250  119.754813
3     10002    2215542    43370    11040    19160   30.114748
4     10003    6910992    29810     5460     4790  172.516026

## 3. Find the zipcodes of citibike stations by reverse geocoding the coordinates
You can use the google API including the long and latitide of each station: CAREFULL!!: you do not need a separate API query per ride, just one per each citibike station! You have a limit of 2500 requests/day, so you cannot submit a request per ride. (You can use pd.DataFrame.drop_duplicates, for example, to identify identical coordinate pairs or identical station ids)

https://developers.google.com/maps/documentation/geocoding/intro

If you do not have an API key for googlemaps you can get one instantly here
https://developers.google.com/maps/documentation/geocoding/get-api-key


Once you have the zip for a lat/lon pair (lat, lon) you can use a condition like 
```
(cb['start station latitude'] == lat) * (cb['start station longitude'] == lon)
```
as index to identify the rows of the citibike datframe that contain those coordinates and are associated to that zipcode
```
cb['zipcodes']['start station latitude'] == lat) * (cb['start station longitude'] == lon)] = thatzipcode
```

If you need help go here [a link will say I created a function that given a URL returns a the zipcode. You can use it as 
revgeo = getJsonParsedData(url)["results"][0]['address_components'][-1]['long_name']]

If you are not up for that you can download the zipcode of each citibike station here 
http://cosmo.nyu.edu/~fb55/UI_CUSP_2015/data/stationzips.json
However, this will cost you 0.5/10 points.

In [12]:
cb2015.head()

//anaconda/lib/python3.5/site-packages/pandas/computation/expressions.py:190: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  unsupported[op_str]))
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/pandas/core/internals.py:4417: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  comp = (nn == nn_at)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,zipcodes
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984,1,2926
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997,1,10003
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993,1,10011
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981,1,5416
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0,4510

In [13]:
#grouping and counting
cbgroup = cb2015.groupby .... count()
cbgroup.head()

,zipcodes,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0914,3675,3675,3675,3675,3675,3675,3675,3675,3675,3675,3675,3675,3675,3369,3675
1,10001,51691,51691,51691,51691,51691,51691,51691,51691,51691,51691,51691,51691,51691,45571,51691
2,10002,45970,45970,45970,45970,45970,45970,45970,45970,45970,45970,45970,45970,45970,40795,45970
3,10003,74663,74663,74663,74663,74663,74663,74663,74663,74663,74663,74663,74663,74663,67536,74663
4,10004,13698,13698,13698,13698,13698,13698,13698,13698,13698,13698,13698,13698,13698,9850,13698

# MERGE
notice there may be lots of invalid zipcodes from bad reverse geocoding!! Drop all data w zipcodes > 1000

In [19]:
cbincome = pd.merge(...

In [20]:
cbincome.head()

   zipcodes   income      N  Njoint  Ndeps    incomePC  Nrides
0     10001  2363960  14080    2410   3250  119.754813   51691
1     10002  2215542  43370   11040  19160   30.114748   45970
2     10003  6910992  29810    5460   4790  172.516026   74663
3     10004   925417   2540     840   1130  205.192239   13698
4     10005  5545849   5890    1340   1340  647.123571    9631

# 5. Plot and fit the data

# 6. choosing two high leverage points, Can be done by eye or with an influence plot

# 7. Fit a 2nd degree polynomial and assess if the addition of the extra parameter is justified by the data

# EC:  Test the Income per person

# EC:  Test with 2016